In [10]:
import pandas as pd

In [11]:
nyu = pd.read_csv(filepath_or_buffer='/Users/balazsmorvay/PycharmProjects/VAE/Configurations/ABIDE/NYU_all.csv')
nyu.head()

,Unnamed: 0.1,Unnamed: 0,FILE_ID,DX_GROUP,DSM_IV_TR,SEX,AGE_AT_SCAN,HANDEDNESS_CATEGORY,SITE_ID,EXISTS,TIME_SLICE
0,0,15720,NYU_0051055,2,0,2,15.950,NaN,NYU,1,145
1,1,23497,NYU_0051101,2,0,1,14.425,NaN,NYU,1,47
2,2,16176,NYU_0051058,2,0,2,22.110,NaN,NYU,1,76
3,3,14526,NYU_0051049,2,0,2,13.220,NaN,NYU,1,1
4,4,3208,NYU_0050974,1,2,1,11.560,NaN,NYU,1,58

In [12]:
nyu = nyu.drop(labels=['Unnamed: 0', 'Unnamed: 0.1'], axis=1)
nyu.head()

,FILE_ID,DX_GROUP,DSM_IV_TR,SEX,AGE_AT_SCAN,HANDEDNESS_CATEGORY,SITE_ID,EXISTS,TIME_SLICE
0,NYU_0051055,2,0,2,15.950,NaN,NYU,1,145
1,NYU_0051101,2,0,1,14.425,NaN,NYU,1,47
2,NYU_0051058,2,0,2,22.110,NaN,NYU,1,76
3,NYU_0051049,2,0,2,13.220,NaN,NYU,1,1
4,NYU_0050974,1,2,1,11.560,NaN,NYU,1,58

In [13]:
um1 = pd.read_csv(filepath_or_buffer='/Users/balazsmorvay/PycharmProjects/VAE/Configurations/ABIDE/UM_1.csv')
um1.head()

,Unnamed: 0,FILE_ID,DX_GROUP,DSM_IV_TR,SEX,AGE_AT_SCAN,HANDEDNESS_CATEGORY,SITE_ID,EXISTS,TIME_SLICE
0,0,UM_1_0050272,1,1,1,14.2,R,UM_1,1,0
1,1,UM_1_0050272,1,1,1,14.2,R,UM_1,1,1
2,2,UM_1_0050272,1,1,1,14.2,R,UM_1,1,2
3,3,UM_1_0050272,1,1,1,14.2,R,UM_1,1,3
4,4,UM_1_0050272,1,1,1,14.2,R,UM_1,1,4

In [14]:
um1 = um1.drop(labels=['Unnamed: 0'], axis=1)
um1.head()

,FILE_ID,DX_GROUP,DSM_IV_TR,SEX,AGE_AT_SCAN,HANDEDNESS_CATEGORY,SITE_ID,EXISTS,TIME_SLICE
0,UM_1_0050272,1,1,1,14.2,R,UM_1,1,0
1,UM_1_0050272,1,1,1,14.2,R,UM_1,1,1
2,UM_1_0050272,1,1,1,14.2,R,UM_1,1,2
3,UM_1_0050272,1,1,1,14.2,R,UM_1,1,3
4,UM_1_0050272,1,1,1,14.2,R,UM_1,1,4

In [15]:
merged_df = pd.concat(objs=[nyu, um1])
merged_df.tail()

,FILE_ID,DX_GROUP,DSM_IV_TR,SEX,AGE_AT_SCAN,HANDEDNESS_CATEGORY,SITE_ID,EXISTS,TIME_SLICE
23595,UM_1_0050379,2,0,2,14.3,R,UM_1,1,290
23596,UM_1_0050379,2,0,2,14.3,R,UM_1,1,291
23597,UM_1_0050379,2,0,2,14.3,R,UM_1,1,292
23598,UM_1_0050379,2,0,2,14.3,R,UM_1,1,293
23599,UM_1_0050379,2,0,2,14.3,R,UM_1,1,294

In [16]:
merged_df.to_csv(path_or_buf='/Users/balazsmorvay/PycharmProjects/VAE/Configurations/ABIDE/NYU_UM1_merged.csv')